<footer class="text-white py-4">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex-1 flex justify-end items-center">
        <a href="/legals" class="mx-6 hover:text-gray-300">Mentions légales</a>
        <a href="/contact" class="mx-6 hover:text-gray-400">Contact</a>
      </div>
      <div class="flex-1 flex justify-center">
        <img src="assets/logo/logoWhite.png" alt="Logo blanc" class="footer-logo">
      </div>
      <div class="flex-1 flex justify-start items-center">
        <span>© Lucas Dechavanne - 2024</span>
      </div>
    </div>
  </div>
</footer>
