<div id="login" class="rounded-lg shadow-lg flex flex-col items-center">
    <p class="text-white text-2xl my-4">Juste 1 minute !</p>
    <div id="login_content">
        <div>
            <form id="login_form" class="flex flex-col w-full mb-6">
                <div>
                    <label for="email" class="text-white">Pseudo :</label>
                    <input type="text" id="email" name="email" required class="mb-4 rounded-md">
                </div>
                
                <div class="password_input">
                    <label for="password" class="text-white">Mot de passe :</label>
                    <input type="password" id="password" name="password" required class="mb-4 rounded-md">
                </div>
            
                <div>
                    <button type="submit" class="p-2 rounded-md">Se connecter</button>
                </div>
            </form>
        </div>
        <div>
            <img src="assets/images/Forms/personnes-main-agitant.png" alt="Image">
        </div>
    </div>
</div>
