<div id="loginForm" style="display: flex; align-items: center; justify-content: center;">
    <img src="assets/images/Forms/personnes-main-agitant.png" alt="Image" style="margin-right: 20px; height: 171px;">
    <div>
        <h1 style="text-align: center;">Juste 1 minutes !</h1>
        <form>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</div>
