#login {
    position: relative; 
    width: 30em;
    height: auto;
    color: white;
    background-color: #F29F05;
    flex-direction: column;
}

#login_content {
    display: flex;
    flex-direction: row-reverse;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#login_form input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;   
}

.password_input {
    width: 80%;
}

#login img {
    position: relative;
    bottom: -13%;
    left: -5%;
    height: 170px;
}

button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #login img {
        height: 150px;
        position: relative;
        bottom: -23%;
        left: -5%;
    }

    #login {
        width: 25em;
    }
    
}