#search-bar {
    width: 180vh;
    margin : 5% 0 5% 0;
}

#search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#search-bar hr {
    width: 100%;
}