<!-- Formulaire de recherche -->
<form [formGroup]="searchForm" (ngSubmit)="search()">
    <div id="search-bar" class="flex items-center justify-center my-5" style="width: 100% !important">
      <hr class="border border-black w-full" style="border-width: 0.5px;">
      <input type="text" formControlName="title" placeholder="Search..." class="mx-5 px-4 py-2 w-full sm:w-4/5 shadow-lg">
      <button type="submit" (click)="openModal()" class="btn btn-primary me-4 rounded p-2 border border-black">🔍</button>
      <hr class="border border-black w-full" style="border-width: 0.5px;">
    </div>
  </form>
  
<!-- Modal -->
<div id="modal" class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 class="text-3xl font-lilita mb-2 text-center">Les Event Dispo :</h2>
    <hr class="border-t border-white w-full mb-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 justify-items-center">
      <div *ngFor="let event of EventArray" class="event-card p-4 border border-white rounded-lg shadow-md text-center">
        <h3 class="text-lg font-lilita">{{ event.title }} 
          <span class="m-2" *ngIf="event.is_private == 1">🔑</span>
        </h3>
        <p class="text-sm">{{ event.starting_at | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p class="text-sm mb-6 truncate">{{ event.description }}</p>
        <button class="link border border-white p-2 rounded-lg mb-2" 
                (click)="participate(event.id, event.is_private)">Participer</button>
        
        <!-- Formulaire de mot de passe pour les événements privés -->
        <div *ngIf="event.showPasswordForm">
          <form [formGroup]="PassWordForm" (ngSubmit)="submitPassword(event)">
            <input type="password" formControlName="password" placeholder="Mot de Passe" class="w-full inputPassword text-black">  
            <button type="submit" class="btn btn-primary rounded p-2 border border-black mt-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
