<div class="bg-[#F29F05] p-4 rounded-lg shadow-lg text-white">
  <h2 class="text-lg font-bold mb-2">Les participants :</h2>
  <ul class="space-y-2">
    <div class="max-h-64 overflow-y-scroll">
      <ng-container *ngFor="let participant of participants()" class="">
        <li class="bg-transparent border border-white rounded-lg p-2 flex items-center">

          <img *ngIf="participant.profile_picture != 'default_PP'; else defaultPP"
          src="https://eventconnectapi.projets.p8.garage404.com/storage/{{ participant.profile_picture }}"
          class="h-8 w-8 bg-gray-400 rounded-full" >

          <ng-template #defaultPP>
            <img src="/assets/profile_pictures/{{ participant.profile_picture }}.png"
              class="h-8 w-8 bg-gray-400 rounded-full">
          </ng-template>

          <p class="ml-2">{{ participant.name }}</p>
          
          
            <button *ngIf="event.user_id == UserId" class="h-8 w-8 bg-[#F35733] rounded-full ml-auto"
            (click)="deleteParticipant(participant.id, EventId)">X</button>
          
            </li>
      </ng-container>
    </div>
  </ul>
  <div class="flex justify-around mt-4">
    <button id="AddParticipantBtn" class="bg-transparent border border-white text-white px-4 py-2 rounded-lg">Ajouter</button>
  </div>
</div>

<div id="userList" class="flex justify-center mt-4 bg-white border border-red-500 userList hidden">
  <div class="h-80 overflow-y-scroll w-full max-w-md p-10">
    <app-search-bar />
    <ng-container *ngFor="let user of users">
      <li class="bg-gray-200 border border-white rounded-lg p-2 flex items-center my-2">

        <img *ngIf="user.profile_picture != 'default_PP'; else defaultPP"
          src="https://eventconnectapi.projets.p8.garage404.com/storage/{{ user.profile_picture }}"
          class="h-8 w-8 bg-gray-400 rounded-full" >

          <ng-template #defaultPP>
            <img src="/assets/profile_pictures/{{ user.profile_picture }}.png"
              class="h-8 w-8 bg-gray-400 rounded-full">
          </ng-template>

        <p class="ml-2">{{ user.name }}</p>
        <button class="h-8 w-8 bg-transparent border border-white rounded-full ml-auto"
          (click)="addParticipants(user.id)">+</button>
      </li>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <p>Chargement ...</p>
</ng-template>