.NavLink {
    color: #F35733;
  }
  
  .NavLogo {
    width: 100%;
    max-width: 160px;
    height: auto;
  }
  
  .mobile-menu-button {
    outline: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  @media screen and (max-width: 750px) {
    .NavLogo {
      max-width: 120px;
    }
  
    /* Mobile menu visible only on small screens */
    .mobile-menu {
      display: block;
    }
  }
  
  @media screen and (max-width: 480px) {
    .NavLogo {
      max-width: 80px;
    }
  }
  