.NavLink {
  color: #F35733;
}

.NavLink :hover {
  border-bottom: 2px solid #F35733;
}

.NavLogo {
  width: 100%;
  max-width: 160px;
  height: auto;
}



/* Mobile screen adjustments */
@media (max-width: 640px) {
  .NavLink {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
  }

  .NavLogo {
    width: 80px;
    margin: 0 auto;
  }

  .NavLink, .NavLogo {
    margin-bottom: 0.5rem;
  }

  .traits {
    margin-bottom: 2%;
  }
}

@media (max-width: 440px) {
  .NavLogo {
    max-width: 80px;
  }

  .traits {
    margin-bottom: 15%;
  }
}
