<div class="register-form">
    <h1>juste 1 minute !</h1>
    
    <div class="flex">
        <div>
            <label for="pseudo">Pseudo :</label>
            <input type="text" id="pseudo" name="pseudo" required>
        
            <label for="email">email :</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="ml-20">
            <img src="assets/images/Forms/personnes-pointant.png" alt="personne poitant du doigts" style="height: 150px;">
        </div>
    </div>

    <label for="profile-photo">Photo de profil :</label>
    <div class="photo-upload">
        <label for="custom_pp"></label>
        <input type="file" name="custom_pp" id="custom_pp">
        <label for="default_pp"></label>
        <input type="file" name="default_pp" id="default_pp">
    </div>

    <div class="register_password">
        <div>
            <label for="password">password :</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirm Password :</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
    
        <div>
            <button type="submit" class="p-2 mt-6 rounded-md">S'inscrire</button>
        </div>
    </div>
</div>
