<div class="container mx-auto flex flex-col lg:flex-row items-center justify-center min-h-[calc(100vh-128px)] -mt-16 mb-2">
  <div class="w-full lg:w-1/2 p-4 text-left lg:pl-8 flex flex-col items-center justify-center">
    <h1 class="mb-4 font-lilita md: flex flex-col items-center">
      <span class="block text-color">EVENT</span>
      <span class="block text-color">CONNECT</span>
    </h1>
    <div class="flex flex-row justify-start space-x-4 font-lilita">
      <a (click)="showRegisterForm()" id="registerBtn" class="text-white no-underline btn btn-inscription cursor-pointer">S'inscrire</a>
      <a (click)="showLoginForm()" id="loginBtn" class="text-white no-underline btn btn-connexion cursor-pointer">Se Connecter</a>
    </div>
  </div>
  <div class="w-full lg:w-1/2 p-4 flex justify-center items-center lg:pl-8">
    <img src="/assets/logo/logoBlack.png" alt="Grand logo" class="w-full max-w-xs lg:max-w-md logo">
  </div>
</div>

<div  class="flex justify-center items-center -mt-20">
    <app-login-form id="loginForm" class="hidden"/>
    <app-register-form id="registerForm" class="hidden"/>
</div>

<div class="container mx-auto mt-8 mb-10 font-lilita">
  <h3 class="text-center text-3xl font-bold text-color font-lilita">Découvrez nos événements</h3>
  <div class="flex flex-col md:flex-row items-center justify-between">
    <div class="w-full md:w-1/2 -mt-10 md:mb-0 sm:">
        <img src="assets/images/1.png" alt="Friends sharing a pizza">
    </div>
    <div class="bottow-text w-full md:w-5/12 bg-[#F29F05] mt-20 p-6 rounded-xl">
      <h3 class="text-white mb-6">Pourquoi EventConnect ?? </h3>
      <p class="text-white">
        Rejoignez-nous pour des événements incroyables ! EventConnect vous offre une plateforme unique pour découvrir et participer à des expériences inoubliables. Que vous soyez passionné de musique, d'art, de technologie ou de sport, vous trouverez toujours quelque chose qui vous correspond.
      </p>
    </div>
  </div>
</div>