<div class="container mx-auto flex flex-col md:flex-row items-start justify-center min-h-[calc(100vh-64px)] pt-4">
  <div class="w-full md:w-1/2 p-4 text-center md:text-left md:pr-8">
    <h1 class="mb-4">
      <span class="block">Event</span>
      <span class="block">Connect</span>
    </h1>
    <div class="flex flex-row justify-center md:justify-start space-x-4">
      <a href="#" class="text-white hover:text-gray-200 no-underline btn btn-inscription">S'inscrire</a>
      <a href="#" class="text-white hover:text-gray-200 no-underline btn btn-connexion">Se Connecter</a>
    </div>
  </div>
  <div class="w-full md:w-1/2 p-4 flex justify-center items-center md:pl-8">
    <img src="assets/logo/logoBlack.png" alt="Grand logo" class="w-full max-w-md">
  </div>
</div>
