<section id="about_us">

    <div class="col">

        <div class="box">
            <p>pourquoi<br></p>
            <p>Eventconnect</p>
        </div>

        <div class="box">
            <img src="assets/images/4.png" alt="">
        </div>

    </div>
    
    <div class="col">

        <div class="box">
            <img src="assets/images/1.png" alt="">
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam atque sint vel quidem!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita accusantium ad consequatur sed.
        </div>

    </div>
    
    <div class="col">

        <div class="box">
            Adjectif 1
            Adjectif 2
            Adjectif 3
        </div>

        <div class="box">
            <img src="assets/images/2.png" alt="">
        </div>

    </div>

</section>