#about_us {

    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column
    ;
    color: #63281A;

}

.row {
    border: 2px solid black;
    display: flex;
}

#about_us img {
    height: 235px;
}

.box {
    border: 2px solid red;
    margin-bottom: 3em;
}

.box-1 {
    font-size: 40px;
}