<section id="about_us" class="font-lilita">

    <div class="row">

        <div class="box box-1">
            <p>pourquoi<br>
            EVENTCONNECT ?</p>
        </div>

        <div class="box box-2">
            <img src="assets/images/1.png" alt="">
        </div>

        <div class="box box-3">
            Adjectif 1<br>
            Adjectif 2<br>
            Adjectif 3
        </div>

    </div>
    
    <div class="row">
        
        <div class="box box-4 ">
            <img src="assets/images/4.png" alt="">
        </div>
     

        <div class="box box-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam atque sint vel quidem!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita accusantium ad consequatur sed.
        </div>

        <div class="box box-6">
            <img src="assets/images/2.png" alt="">
        </div>

    </div>
    
</section>