@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.min-h-screen {
    min-height: 100vh;
}

.flex-grow {
    flex-grow: 1;
}

body {
    background-color: #F2E4DC;
}